@import "tailwindcss";
@import 'react-datepicker/dist/react-datepicker.css';


.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-space-grotesk {
  font-family: var(--font-space-grotesk);
}

.font-open-sans {
  font-family: var(--font-open-sans);
}

.font-text-me-one {
  font-family: var(--font-text-me-one);
}

